<nav class="teal darker-2">
    <div class="nav-wrap">
        <div class="container">
            <ul class="right hide-on-med">
                <li><a href="#form">FORMULARIO</a></li>
                <li class="active"><a href=""></a></li>
            </ul>
            <a href="/home/" class="brand-logo">Ruda Tarot</a>
        </div>
    </div>
</nav>