<h3 class="teal-text darker-2 center" id="info">ALGUNOS DE MIS PRODUCTOS</h3>

<div class="section container">
    <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block wave-light">
              <img src="images/img1.jpg" alt="Energized rocks" class="activator">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text darker-4">Quarzos Energeticos <i class="material-icons right">more_vert</i></span>
              <p><a href="#">Ver Mas</a></p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text darker-4">Quarzos Energeticos<i class="material-icons right">close</i></span>
              <p>Puedes usar estos quarzos para mejorar las energias en cas oh llevarlas con tigo a donde quieras como Proteccion.</p>
            </div>
          </div>
        </div> 
        
        
        <!-- Second -->
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block wave-light">
              <img src="images/img-2.jpg" alt="Energized Bracalets" class="activator">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text darker-4">Bracaletes Energeticos <i class="material-icons right">more_vert</i></span>
              <p><a href="#">Ver Mas</a></p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text darker-4">Quarzos Energeticos<i class="material-icons right">close</i></span>
              <p>Puedes usar estos bracaletes como una proteccion pequeña cuando estes en el trabajo, oh en general fuera de casa.</p>
            </div>
          </div>
        </div> 

        <!-- Third card -->

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block wave-light">
              <img src="images/img-8.jpg" alt="Energized Bracalets" class="activator">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text darker-4">Estatuas Ritualizadas<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Ver Mas</a></p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text darker-4">Estatuas Ritualizadas<i class="material-icons right">close</i></span>
              <p>Consigue el dinero que te mereces. Deja que las enegias fluya por tu hogar. Protege lo que es importante para ti con estas estatua bendecidas con agua y fuego para ofrecer la mayor proteccion posible contra las hondas malignas que nos rodean a diario.</p>
            </div>
          </div>
        </div> 

      </div>
    </div>
</div>